@use "styles/colors";
@use "styles/typography";

.primary {
  width: 220px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-evenly;
  color: colors.$color-background-01;
  font-size: typography.$header-s-size;
  align-items: center;
  cursor: pointer;

  .text {
    font-size: typography.$header-s-size;

  }

}
