@use "styles/colors";
@use "styles/typography";

.button {
  cursor: pointer;
  width: fit-content;
  display: flex;
  font-size: typography.$header-s-size;
  align-items: center;
}

.transparent {
  background-color: transparent;
  border: none;
  color: colors.$color-background-01;
}
