@use 'styles/colors';
@use 'styles/typography';

.container{
    margin: 37px 0px;
}

.title-arrow-container {
    font-weight: typography.$bold;
    font-size: typography.$header-s;
    display: flex;
}