@use "styles/colors";
@use "styles/typography";

.tab {
  cursor: pointer;
  margin: 0 12px;
}

.secondary {
  min-width: 197px;
  height: 42px;
  background: #ffffff;
  border: 1px solid colors.$accent;
  color: colors.$accent;
  border-radius: 80px;
}

.secondary.active {
  background-color: colors.$accent;
  color: colors.$neutral-inverse;
}
