@use "styles/typography";
.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 20px;
    height: 85vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.form-container::-webkit-scrollbar {
    display: none;
}

.button-container {
    margin-bottom: 40px;
    Button {
        position: absolute;
        font-size: typography.$body-m;
    }
}

.back-button {
    Button {
        padding: 11px;
    }
    .back-icon {
        font-size: typography.$body-m;
    }
}