@use "styles/typography";
.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 20px;
}

.button-container {
    margin-bottom: 40px;
    Button {
        position: absolute;
        font-size: typography.$body-m-size;
    }
}

.back-button {
    Button {
        padding: 11px;
    }
    .back-icon {
        font-size: typography.$body-m-size;
    }
}