@use "styles/typography";
.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 85vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

.button-container-left {
    Button {
        position: relative;
        font-size: typography.$body-m;
        float: left;
        left: 42px;
    }
}

.button-container-right {
    Button {
        position: relative;
        font-size: typography.$body-m;
        float: right;
        right: 41px;
    }
}

.buttons-container{
    margin-top: 20px;
}

.back-button {
    Button {
        padding: 11px;
    }
    .back-icon {
        font-size: typography.$body-m;
    }
}