@use "styles/colors";
@use "styles/typography";

.container {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.input {
    height: 40px;
    border: solid 1px #666666;
    border-radius: 4px;
    margin-top: 8px;
    padding: 9px 16px;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

.error-text {
    margin-top: 10px;
    color: colors.$error;
    font-size: typography.$body-s;
}

.input-error {
    border: solid 1px colors.$error;
}

.input-error:focus-within {
    outline: none !important;
    border: solid 2px colors.$error;
}

.input-error:focus-within {
    outline: none !important;
    border: solid 2px colors.$error;
}

.visibility {
    float: inline-end;
    margin-left: 82%;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}


@media(min-width: 450px) {

    .visibility {
        margin-left: 92%;
    }

}