$neutral: #333333;
$accent: #054AB0;
$color-background-01: #FFFFFF;
$color-background-02: #F2F2F2;
$color-background-03: #F97513;
$color-text-02: #333333;
$color-text-disabled: #808080;
$color-semantic-primary: #E6E6E6;
$color-success-active:#006F51;
$color-success-disable: #32D2A7;
$color-error-active: #A63631;
$color-error-disable:#FF9590;
$error: #C9423C;
