@use "styles/typography";

.section {
  margin: auto;
  width: 90%;
}

.no-margin-title {
  font-size: typography.$header-m-size;
  font-weight: typography.$header-m-weight;
}

.margin-title {
  font-size: typography.$header-m-size;
  font-weight: typography.$header-m-weight;
  margin-bottom: 32px;
  margin-top: 40px;
}
