@use "styles/typography";
.container {
    margin: auto auto 0;
    width: 90%;
    .title {
        font-size: typography.$header-m;
        font-weight: typography.$bold;
    }
    .margin-title {
        margin-bottom: 32px;
        margin-top: 40px;
    }
}