@use 'styles/colors';
@use 'styles/typography';

.question-container{
    margin: 50px 0px 160px;
}

.category-arrow-container {
    font-weight: typography.$bold;
    font-size: typography.$header-m;
    display: flex;
}

.question-content-container {
    margin-top: 25px;

    .question {
        font-size: typography.$body-m;
    }

    .content {
        margin-top: 14px;
        font-size: typography.$body-s;
    }
}