@use 'styles/colors';
@use 'styles/typography';

a:link {
  color: colors.$accent;
  background-color: transparent;
}

a:visited {
  color: colors.$accent;
  background-color: transparent;
}


a:active {
  color: colors.$accent;
  background-color: transparent;
}
