@use "styles/colors";

.header {
  height: 109px;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.color {
  background-color: colors.$color-background-03;
  .showSearchBar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.clean {
  background-color: transparent;
  position: absolute;

  .doNotShowSearchBar {
    display: none;
  }

}

