@use "styles/colors";
@use "styles/typography";


.info {
    margin: 1.5%;
    display: flex;
    align-items: flex-end;
    border: 1px solid colors.$color-semantic-primary;
    border-radius: 8px;
    padding: 2px 26px 2px 16px;
    width: fit-content;

    .query {
        color: colors.$color-text-02;
        font-size: typography.$header-s-size;
        font-weight: typography.$header-s-weight;
        margin-right: 5px;
    }

    .results-number{
        font-size: typography.$text-body-s;
        color: colors.$color-text-disabled;

    }

}


