@use 'styles/colors';
@use 'styles/typography';
.header-title {
    color: colors.$color-background-01;
    font-size: typography.$header-m;
    font-weight: typography.$bold;
    z-index: 1;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 19.38%, rgba(0, 0, 0, 0.3) 52.15%, rgba(0, 0, 0, 0.05) 88.61%);
}

.products-container {
    width: fit-content;
    margin: auto;
}

.see-more-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 5%;
    .see-more {
        color: colors.$accent;
    }
}

.arrow-categories-container{
    display: flex;
    flex-direction: row;
    .button-container {
        margin-bottom: 40px;
        Button {
            position: absolute;
            font-size: typography.$body-m;
        }
    }
    
    .arrow-button {
        Button {
            padding: 13px;
            margin-right: 5px;
        }
        .icon {
            font-size: typography.$body-m;
        }

    }
    .next{
        margin-left: 20px;
    }
    .back{
        margin-right: 40px;
    }
}