@use "styles/colors";
@use "styles/typography";

.card {
  border-radius: 8px;
  margin: 17px 10px;
  border: 1px solid #e6e6e6;

  .cardImage {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
  }

  .cardInfo {
    font-size: typography.$body-m-size;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    border-radius: 0px 0px 8px 8px;
    height: 54px;
  }
}

.small {
  width: 90%;
  max-width: 418px;
  min-width: 350px;
  box-shadow: 0px 16px 16px rgba(153, 153, 153, 0.15);
  .cardImage {
    height: 176.25px;
  }
  .cardInfo {
    height: 45.32px;
  }
}

.medium {
  width: 307px;
  box-shadow: 0px 16px 16px rgba(153, 153, 153, 0.15);

  .cardImage {
    height: 290px;
  }

  .cardInfo {
    height: 54px;
  }
}

.large {
  width: 417px;

  .cardImage {
    height: 432px;
  }

  .cardInfo {
    height: 32px;
  }

  .cardName {
    width: 50%;
  }

  .secondaryInfo {
    color: colors.$accent;
    font-weight: typography.$header-s-weight;
    width: 50%;
    text-align: right;
  }
}
